@import "./variables";
@import "./mixins";
@import "../styles/variables";
@import "../styles/mixins";

.container-titulo-link{
  display: flex;
  color: $third-color;
  font-size: 32px;
  padding: 20px;
 .titulo-tv{
  @include title-detalle ($fontSizeTitle: 32px);
  .flecha-ver-mas{
    font-size: 32px;
  }
 }
  .flecha-ver-mas:hover{
    color: $background-enfasis;
  }
}


.container-series-card{
   @include flex-centrar($direccion: row,$content: center);
  padding: 20px;
  .card{
      display: flex;
      text-decoration: none;  
      @include subtitle-detalle($fontSize: 20px, $fontWeight:400);
      color: $third-color;

      .unit-card{
        padding: 20px;
        
      }
      
  }
  .card :hover{
    opacity: 0.8;
    color: $background-enfasis;
  }
}
