@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@import "../styles/mixins";
@import "../styles/variables";

.container-carousel{
    height: 70vh;
   

    .container-imagen{
        height: 70vh;
        // display: flex;
        // align-content: center;
        // align-items: center;
        // justify-content: center;
        // justify-items: center;
        .imagen-slider{ 
            width: 100%;
            height: auto;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .container-info-pelicula{
            display: flex;
            width: 720px;
            height: auto;
            position: absolute;
            top:30vh;
            z-index: 100;
            background-color: $color-text-enfasis;
            opacity: .9;
            padding: 10px;
            border-radius: 10px;
           
            .info-pelicula{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
               width: auto;
               .title-movie{
                @include title-detalle($fontSizeTitle:20px);
                margin: 0 0 5px;
            }
                
            }
        }

    }
   
}

.titulo-pelicula{
    @include title-detalle ($fontSizeTitle: 32px);
    color:black;
    z-index: 3;
}