@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@import "../styles/mixins";
@import "../styles/variables";

.container-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 70vh;
    width: 100%;
    margin-bottom: 20px;
    .container-imagen{
        height: 70vh;
        display: flex;
        justify-content: center;
        
        .imagen-slider{ 
            width: 100%;
            height: auto;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        .container-info-pelicula{
            @include flex-centrar($direccion: column, $content: center);
            width: 330px;
            height: 100%;
            position: absolute;
            top:0;
            z-index: 100;
            background-color: $color-text-enfasis;
            opacity: .9;
            padding: 30px;

            .info-pelicula{
                @include flex-centrar($direccion: column, $content: center);
                text-align: center;
                width: auto;
               .title-movie{
                    @include title-detalle($fontSizeTitle:30px);
                    margin: 0 0 5px;
               }
               .detalle-pelicula{
                @include subtitle-detalle($fontSize: 1.1em, $fontWeight:300)
               }
               .link-info-detalle-pelicula{
                border: none;
                padding: 8px;
                border-radius: 5px;
                background-color: $background-main;
                color: $background-enfasis;
               } 
            }
        }

    }
   
}

@media (max-width:1200px){
.container-carousel{
    height: 70%;
    .container-imagen{
        height: 70%;

    } 
}  
}

@media (min-width:700px) and (max-width:900px) {
   
.container-carousel{
    height: auto;
    .container-imagen{
        height: 100%;
        .container-info-pelicula{
            height: 100%;
            padding: 30px;
            .info-pelicula{
               height: auto;
               .title-movie{
                    @include title-detalle($fontSizeTitle:1.2em);
                    margin: 0 0 5px;
               }
               .detalle-pelicula{
                @include subtitle-detalle($fontSize: 1em, $fontWeight:100);
                display: flex;
                height:auto;
               }  
            }
        }
    } 
} 
}

@media (min-width:500px) and (max-width:699px){
      
.container-carousel{
    height: auto;
    margin-bottom: 30px;
    .container-imagen{
        height: 100%;
        .imagen-slider{ 
            width: 100%;
            height: 100%;
        }
        .container-info-pelicula{
            width: 220px;
            padding: 30px;
            .info-pelicula{
                height: auto;
               .title-movie{
                    @include title-detalle($fontSizeTitle:1.2em);
                    margin: 0 0 5px;
               }
               .detalle-pelicula{
                @include subtitle-detalle($fontSize: 0.6em);
                display: flex;
                height:100%;
               }  
            }
            .btn-style{
                font-size: 0.6em;   
            }
        }
    } 
    .slick-dots{
        bottom:auto;
    }
} 
}

@media (min-width: 320px) and (max-width:490px) {
         
.container-carousel{
    height: auto;
    margin-bottom: 30px;
    .container-imagen{
        height: 100%;
        .imagen-slider{ 
            width: 100%;
            height: 100%;
        }
        .container-info-pelicula{
            width: 220px;
            height: 100%;
            padding: 12px;
            .info-pelicula{
                height: auto;
               .title-movie{
                    @include title-detalle($fontSizeTitle:1em);
                    margin: 0 0 5px;
               }
               .detalle-pelicula{
                @include subtitle-detalle($fontSize: 0.5em);
                display: flex;
                height:100%;
               }  
            }
            .btn-style{
                font-size: 0.5em;   
            }
        }
    } 
    .slick-dots{
        bottom:auto;
    }
}  
}
