@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.container-carousel{
    height: 60vh;
    padding-bottom: 40px;
   display: flex;
   flex-direction: column;
   
    .container-imagen{
        
        overflow: hidden;
        height: 60vh;
  
        .imagen-slider{
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
           background-position: center top;
          justify-content: center;
          align-content: center;
          align-items: center;
        }

    }
   
}