@import "./variables";

.titulo-container{
    color:$color-text-principal;
}

.contenedor-listado{
    display: flex;
    padding: 10px;
    flex-direction: column;
   

}
.listado{
   
   
    
    .item-listado{
        display: flex;
       
    }
   .contenedor-imagen-listado{
       width: 38px;
       height: 46px;
   }
}