
@import "./variables";
@import "./mixins";

.titulo-container{
    padding: 10px;
    display: flex;
    background-color: $third-color;
    justify-content: center; 
}
.contenedor-listado{
    @include flex-centrar ($direccion:column, $content:flex-start);
    padding: 10px;
    background-color: $main-color;
   
    .listado{
        @include flex-centrar ($direccion: row,$content:space-between);
        text-decoration: none;
        color: $color-text-listados;
        padding: 5px;
        width: 100%;
        
        .item-listado{
            display: flex;
            
        }
       .contenedor-imagen-listado{
           width: 44px;
           height: 44px;
           border-radius: 50%;
           margin-right: 5px;
       }
    }
}

.icono-flecha-detalle{
    color: $color-text-principal;
    font-size: 40px;
}