@mixin flex-centrar($direccion: column, $content: center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $content;
    align-items: $content;
}

@mixin title-detalle ($fontSizeTitle: 32px) {
    font-size: $fontSizeTitle;
    font-weight: 500;
    margin: 0 0 26px;
}

@mixin subtitle-detalle($fontSize: 20px, $fontWeight:300){
    font-size: $fontSize;
    font-weight:$fontWeight;
    margin: 0 0 5px;
}
