@import "./mixins";
@import "./variables";
.container-background-movie{
    width: 1400px;
    .img-fondo{
        width: 100%;
    }
}
.container-movie{
    @include flex-centrar($direccion: row, $content: center);
    background-color: $third-color;
    padding: 20px;
    .content-img{
        margin: 20px;
    }
    .content-info-movie{
        width: 500px;
       
    }
}