@import "./mixins";
@import "./variables";
.container-background-movie{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-size:cover;
    justify-content: center;
    align-items: center;
    
    
    .img-fondo{
        width: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        filter:brightness(0.5)
    }
}
.container-movie{
    @include flex-centrar($direccion: row, $content: center);
    padding: 40px;
    position: absolute;
    z-index: 1;
    .content-img{
        max-width: 100%;
        max-height: auto;
        margin: 0;
    }
    .content-info-movie{
       padding: 0 20px;
       .title-movie{
           @include title-detalle;
       }
       .text-detalle{
           @include subtitle-detalle ($fontSize: 20px);
           color: $color-text-listados;
       }
       .subtitle-movie{
           @include subtitle-detalle ($fontSize: 20px, $fontWeight:500);
       }
    }
}
@media (max-width:900px) {
   
    .container-movie{
        display: flex;
        width: 100%;
        align-content: center;
        align-items: center;
        padding: 20px;
        .content-img{
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .content-info-movie{
            width: 100%;
            display: flex;
           flex-direction: column;
           align-items:flex-start;
           .title-movie{
               @include title-detalle($fontSizeTitle:20px);
               margin: 0 0 5px;
           }
        }
    }
}
@media (max-width:700px) {
    .container-movie{
        .title-movie{
            @include title-detalle($fontSizeTitle:20px);
            margin: 0 0 5px;
        }
        .text-detalle{
            @include subtitle-detalle ($fontSize: 14px);
        }
        .subtitle-movie{
            @include subtitle-detalle ($fontSize: 10px, $fontWeight:300);
        }
    }
}
@media (min-width:500px) and (max-width:690px) {
    .container-movie{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
        .content-img{
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
       .content-info-movie{
            display: flex;
            width: 100%;
            .title-movie{
                @include title-detalle($fontSizeTitle:20px);
                margin: 0 0 5px;
            }
            .text-detalle{
                @include subtitle-detalle ($fontSize: 12px);
            }
            .subtitle-movie{
                @include subtitle-detalle ($fontSize: 12px, $fontWeight:500);
            }
       }
        
    }
}

@media (min-width: 320px) and (max-width:490px) {
    .container-movie{
        color: $color-text-enfasis;
        position: absolute;
        top:330px;
        flex-direction: column;
        padding: 5px;
        margin-top: 10px;
        .content-img{
            width: 200px;
            padding: 10px 0 0 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .content-info-movie{
            padding: 10px 20px;
        }
    }
}