*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // background-color: rgb(84, 84, 102);
    font-family:"Roboto";
    background: linear-gradient(to bottom right, $main-color, $secondary-color, $third-color, $fourth-color);  
    height: 100vh;
}
ul,li{
    list-style: none;
   
}