*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Roboto";
    background: $background-main;
    height: 100vh;
    color: $color-text-principal;
}
ul,li{
    list-style: none;
   
}