@import "./mixins";
@import "./variables";

.container-background-tv{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-size:cover;
    justify-content: center;
    align-items: center;
    .img-fondo-tv{
       @include imagen-fondo;
    }
    .img-not-found{
       @include imagen-not-found;
    } 
}

.container-tv{
    @include flex-centrar($direccion: row, $content: center);
    padding: 40px;
    position: absolute;
    z-index: 1;
    .content-img-tv{
        max-width: 100%;
        max-height: auto;
        margin: 0;  
        .not-img-portada{
            max-width: 300px;
        }
    }
    .content-info-tv{
       padding: 0 20px;
       .name-tv{
        @include title-detalle ($fontSizeTitle: 32px);  
       }
       .text-tv{
        @include subtitle-detalle ($fontSize: 20px);
        display: flex;   
        padding-right: 5px;
        color: $color-text-listados;
       }
       .subtitle-tv{
        @include subtitle-detalle ($fontSize: 20px, $fontWeight:500);  
        padding-right: 5px;
       }
    }
}

@media (max-width:900px) {
 
.container-background-tv{
    .img-fondo-tv{
       width: auto
    }
}
.container-tv{
    display: flex;
   flex-wrap: wrap;
}   
}

@media (max-width:700px) {
    
.container-background-tv{
    .img-fondo-tv{
       width: auto
    }
    .img-not-found{
       @include imagen-not-found;
    } 
}

.container-tv{
    display: flex;
   flex-wrap: wrap;
    .content-info-tv{
        .name-tv{
         @include title-detalle ($fontSizeTitle: 28px);  
        }
        .text-tv{
         @include subtitle-detalle ($fontSize: 18px);        
        }
        .subtitle-tv{
         @include subtitle-detalle ($fontSize: 18px, $fontWeight:500);  
        }
     }   
}   
}



@media (min-width:500px) and (max-width:690px){
    .container-background-tv{
        .img-fondo-tv{
           width: auto
        }
        .img-not-found{
           @include imagen-not-found;
           width: auto;
        } 
    }    
    .container-tv{
        display: flex;
       flex-wrap: wrap;
       width: auto;
       padding: none;
        .content-info-tv{
            .name-tv{
             @include title-detalle ($fontSizeTitle: 28px);  
            }
            .text-tv{
             @include subtitle-detalle ($fontSize: 18px);        
            }
            .subtitle-tv{
             @include subtitle-detalle ($fontSize: 18px, $fontWeight:500);  
            }
        }   
    }     
}

@media (min-width: 320px) and (max-width:490px){   
    .container-background-tv{
        .img-fondo-tv{
           @include imagen-fondo;
           width: auto
        }
        .img-not-found{
           @include imagen-not-found;
           width: auto;
        }    
    }
    
    .container-tv{
        display: flex;
        flex-wrap: wrap;
        padding: 1px;
        width: auto;
        top: 100px;
        .content-img-tv{
            max-width: auto;
            max-height: auto;
            margin: 0;  
            .not-img-portada{
                max-width: 300px;
            }
        }
        .content-info-tv{
            display: flex;
            justify-content: center;
            flex-direction: column;          
            .name-tv{
             @include title-detalle ($fontSizeTitle: 20px);             
            }
            .text-tv{
             @include subtitle-detalle ($fontSize: 16px);                   
            }
            .subtitle-tv{
             @include subtitle-detalle ($fontSize: 16px, $fontWeight:500);             
            }
         } 
    }
}