@import "./mixins";
@import "./variables";

.container-background-tv{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-size:cover;
    justify-content: center;
    align-items: center;
    .img-fondo-tv{
        width: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        filter:brightness(0.5)
    } 
}

.container-tv{
    @include flex-centrar($direccion: row, $content: center);
    padding: 40px;
    position: absolute;
    z-index: 1;
    .content-img-tv{
        max-width: 100%;
        max-height: auto;
        margin: 0;  
    }
    .content-info-tv{
       padding: 0 20px;
       .name-tv{
        @include title-detalle ($fontSizeTitle: 32px);  
       }
       .text-tv{
        @include subtitle-detalle ($fontSize: 18px);
        display: flex;   
       }
       .subtitle-tv{
        @include subtitle-detalle ($fontSize: 20px, $fontWeight:500);  
        padding-right: 5px;
       }
    }
}