@import "./mixins";
@import "./variables";

.container-background-tv{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-size:cover;
    justify-content: center;
    align-items: center;
    .img-fondo-tv{
       @include imagen-fondo;
    }
    .img-not-found{
       @include imagen-not-found;
    } 
}


.container-tv{
    @include flex-centrar($direccion: row, $content: center);
    padding: 40px;
    position: absolute;
    z-index: 1;
    .content-img-tv{
        max-width: 100%;
        max-height: auto;
        margin: 0;  
        .not-img-portada{
            max-width: 300px;
        }
    }
    .content-info-tv{
       padding: 0 20px;
       .name-tv{
        @include title-detalle ($fontSizeTitle: 32px);  
       }
       .text-tv{
        @include subtitle-detalle ($fontSize: 20px);
        display: flex;   
        padding-right: 5px;
        color: $color-text-listados;
       }
       .subtitle-tv{
        @include subtitle-detalle ($fontSize: 20px, $fontWeight:500);  
        padding-right: 5px;
       }
    }
}