
$color-text-principal: rgb(211, 211, 211);
$color-text-secundario: rgb(153, 153, 153);
$color-text-enfasis:#aec00b ;

$color-text-listados:#ffffff;

$sombra:0px 0px 5px 3px  rgb(246, 243, 243);

$main-color: #141A74;
$secondary-color: #1D5C97;
$third-color: #49C6B7;
$fourth-color: #CFF8B9;

$borde-principal:1px solid black;
$padding-general: 5px;


