
$color-text-principal: rgb(230, 227, 227);
$color-text-secundario: rgb(98, 98, 98);
$color-text-enfasis: rgb(54, 54, 54);

$color-text-listados:#ffffff;

$sombra:0px 0px 5px 3px  rgb(246, 243, 243);

$background-main: #F8F1F1;
$background-enfasis: #16C79A;
$main-color: #11698E;
$secondary-color: #1D5C97;
$third-color: #19456B;


$borde-principal:1px solid black;
$padding-general: 5px;


